body {
    background-color: #f8f9fa;
  }
  
  .sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #185a9b;
    min-height: 100vh;
  }
  
  .sidebar .nav-link {
    color: #fff;
    border-radius: 0.375rem;
    margin: 2px 0;
  }
  
  .sidebar .nav-link.active {
    background-color: #4b88e3;
  }
  
  .sidebar .nav-link:hover {
    background-color: #0d6efd;
  }
  
  .topbar {
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    position: sticky;
    top: 0;
    z-index: 1000;
  }